<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>202388605952-7u8tmfgba4g6bsf2b04k70tlr2i3ngv3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.202388605952-7u8tmfgba4g6bsf2b04k70tlr2i3ngv3</string>
	<key>API_KEY</key>
	<string>AIzaSyDvoU4QqhDjMVMtpn3nPYzvi3yzaRt5EE4</string>
	<key>GCM_SENDER_ID</key>
	<string>202388605952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zhxyn6.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-4529b</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-4529b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:202388605952:ios:7f75a8d90bc3155a979ce5</string>
</dict>
</plist>